version: '3.8'

services:
  bot:
    build: .
    container_name: ebook-bot
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm start
    restart: unless-stopped
    expose:
      - "3001"
    networks:
      - proxy

  webapp:
    build:
      context: src/webapp
      dockerfile: Dockerfile
    container_name: ebook-webapp
    restart: unless-stopped
    expose:
      - "80"
    networks:
      - proxy

networks:
  proxy:
    external: true
