version: '3.8'

services:
  bot:
    build: .
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm start
    restart: unless-stopped
    networks:
      - web_proxy

  webapp:
    build:
      context: src/webapp
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - web_proxy

networks:
  web_proxy:
    external: true
